$light-menu-color: #ffffff;	

body {

	background: #fafafa;
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #333;

	.menu-selector {
		
		min-height: 13em;
		background-color: $light-menu-color;
		padding: 1em;

	}

	.google-map {

		height: 32em;
		z-index: -1;

	}

	.shadow {

		-moz-box-shadow: 0 0 30px 5px #999;
		-webkit-box-shadow: 0 0 30px 5px #999;

	}
	
	paper-button {

		width: 16em;
		float: right;

	}

	@media screen and (max-width: 767px) {

		.google-map {

			height: 28em;
			z-index: -1;

		}

	}	

}