$light-menu-color: #f0f3f9;	

body {

	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;

	.menu-selector {
		
		min-height: 12em;
		background-color: $light-menu-color;

	}

	.google-map {

		height: 32em;
		z-index: -1;

	}

	.shadow {

		-moz-box-shadow: 0 0 30px 5px #999;
		-webkit-box-shadow: 0 0 30px 5px #999;

	}

}